* {
  box-sizing: border-box;
  margin: 1rem;
}
.container {
  display: grid;
  grid-template-columns: 200px 40vw 20rem;
  grid-template-rows: 100px 500px 20vh 5rem;
}
.content {
  background-color: wheat;
  border: 2px solid black;
}
