* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .container {
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside main main main"
    "footer footer footer footer"; //bu sekılde areas olarak yazılırsa bu yazılan her bır elementın cssıne de grıd-area: yazmak zorundayız.
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 10vh calc(100vh - (200px + 20vh)) 10vh;
} */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 10vh calc(100vh - (200px + 20vh)) 10vh;
}
.content {
  display: flex; /* bu ucluyu elemanları dıkey-yatay olarak ortalamak ıcın yazarız.*/
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
}

.header {
  background-image: url(https://cdn.pixabay.com/photo/2016/05/11/13/20/keyboard-1385706_960_720.jpg);
  background-size: cover; /*cover ıle fotograf tam yerlestırme ıcın kullanılır */
  background-position: center;
  grid-column: span 12; /*yukarıda "grid-template-columns: repeat(12, 1fr);" yazmıstık. satırımızı 12 adet kolona ayırmıstık. tum satırı kaplamasını ıstedıgımızde span 12 yazarız.*/
  /* grid-area: header; */
}
nav {
  background-color: lightskyblue;
  grid-column: span 12;
  /* grid-area: nav; */
}
aside {
  background-color: lightyellow;
  grid-column: span 3;
  /* grid-area: aside; */
}
main {
  background-color: tomato;
  grid-column: span 9;
  /* grid-area: main; */
}

footer {
  background-color: turquoise;
  grid-column: span 12;
  /* grid-area: footer; */
}
