/*
140 adet renk secenegımız var
 RGB RENK değerleri:
Bir renk, bir RGB değeriyle tanımlanabilir:
rgb(red, green, blue)
Her kırmızı, yeşil ve mavi parametre, rengin yoğunluğunu 0 ile 255 arasında tanımlar.
Örneğin, rgb(0, 0, 255) mavi olarak görüntülenir, çünkü mavi 255'e ve diğerleri 0'a ayarlanmıştır.
her rengı bu sayısasl degerlerle oynayarak elde ederız...

RGBA renk değerleri:
Bir rengin opaklığını-saydanlıgı tanımlayan bir alfa kanalına sahip RGB renk değerleridir.Bir RGBA renk değeri şu şekilde belirtilir:
rgba(red, green, blue, alpha)--------rgba(255, 0, 90, 0.5)
Alfa parametresi 0 (tamamen şeffaf) ile 1 (saydam değil-katıkoyu) arasında bir sayıdır:

HEX RENK Değerleri:
Onaltılık bir değer kullanılarak bir renk tanımlanabilir:
Onaltılık değerler 00 ile FF arasında olmalıdır.
Örneğin, #0000FF mavi olarak görüntülenir, çünkü mavi FF'ye ve diğerleri 00'a ayarlıdır. ornek; #FFA2FF
rg
*/
/* BORDER STYLE
CSS border özellikleri, bir öğenin kenarlığının stilini, genişliğini ve rengini tanımlar. 
boder stıllerı sunlardır---> dotted-dashed-solid-double-groove-ridge-inset-outset-none-hidden
birden dörde kadar değere sahip olabilir (üst kenarlık, sağ kenarlık, alt kenarlık ve sol kenarlık). her bır kenarlıgı ayrı bır stılde yapabılırız.
kalınlıklarını da sırayla 1px 2px 3px 4px
OR:
p {
  border-style: dotted;
  border-style: ridge dotted solid dashed;
}
p {
  border: 1px solid blue;
}
/* 
sementıc eleamnlar; 
header, nav, main, artıcle, sectıon, aside
header; h1 olur, baslıklar bunun ıcınde olur.logo 
nav; gecıs lınklerı vs olur. hakkımızda,iletişim...
sectıon; bolum olusturmak ıcın
main; ana konu
aside; ana konu olmayan seylerı, hava durumu, dovız kurları
actıcle;
footer; en altta olan ıletısım bılgılerının oldugu yerdır.
 */
/* ınlıne
ınternal
external css var... */

/* 
...CSS SYNTAX...
h1 {color:blue; font-size:12px;}
h1          ---->Selector
color       ---> Property-----\Declaration birlikte
blue        ----> Value-----/Declaration birlikte
font-size   ---> Property
12px        ----> Value

*/
.par a {
  text-decoration: none;
}
.par a:hover {
  /* background-color: red; */
  text-decoration: underline;
}
.par a:active {
  background-color: rgb(236, 228, 234);
}
/* a lınk-baglantıyı saglar, hover, actıve vs. bu lınk text ıle ılgılı ayarlamalar yapar. */
