* {
  font-size: 1.2rem;
  text-align: center;
}
.container {
  background-color: aqua;
  display: flex;
  flex-direction: row;
}
.container div {
  background-color: blueviolet;
  width: 5rem;
  height: 5rem;
}
/*  */
