.par1 {
  text-align: center;
  text-decoration: underline; /* text ıcın cızgı olusturur, her yonu*/
  text-shadow: unset 3px brown;
}
.par2 {
  color: blue;
  text-decoration: underline;
  text-transform: capitalize;
  column-rule: 3px solid red;
}
.par3 {
  text-decoration: line-through solid 1px red;
  text-shadow: 3px 2px 3px blue;
}
.par4 {
  text-transform: uppercase;
  text-indent: 25px;
  letter-spacing: 10px;
}
.par5 {
  column-count: 5;
}

/*text-align;
Özelliği, bir metnin yatay hizalamasını ayarlamak için kullanılır. Bir metin sola veya sağa hizalanabilir, ortalanabilir veya iki yana yaslanabilir.
text-align: left
text-align: right
text-align: center
text-align: justify (her ıkı tarafa yaslama)
hizalama işlemi block etiketlere uygulanır. Eğer inline bir etiketleri için text-align özelliği işlevsel değildir. Eğer ki inline etiket grubunu hizalamak istersek bu durumda inline etiket grubunu bir block etiketi içine alıp hizalama işlemini yapabiliriz. inline etiketlere direk hizalama özelliği ekleyememizin sebebi; inline etiketler satırda içerik kadar yer kaplarlar hizalama işlemi için tüm satırı kaplamaları gerekir.

text-transform;
Özellik , metni büyük harfe veya küçük harfe dönüştürmek veya her kelimenin ilk harfini büyük harf yapmak için kullanılır:
text-transform: uppercase;
text-transform: lowercase;
text-transform: capitalize;

text-indent;
Metnin ilk satırının girintisini ayarlamak için kullanılır:

line-height;
Özellik, satırlar arasındaki boşluğu belirtmek için kullanılır:
p.big {line-height: 1.8;}

text-shadow; 
Özellik metne gölge ekler.
Örnek:p {text-shadow: 1px 2px blue;}

font-size:
yazı boyutunu ayarlatır. px-em-rem-vw veya % olarak ayarlanır
vm: sabıttıre sayfayı kuculk-buyut hıc etkılenmez kendı buyuklugunu korur.
dıgerlerın boyutu, duruma gore degısır. 
font-size: 3vw">

font-weight;
yazı tıpının koyulugunu(bold)-agırlıgını belırler

font-famıly;
google font---->font famıly ıcın adını yaz.sec. regular + butonu var onu tıkla. en ust sagı tıkla lınkı kopyala html head ın ıcınde bır yere kaydet. bu lınkın bır altındakı css ıcınde ayrı bır lınk var onu da kopyala  css gıdıp hangısıne uygulayacaksak onun ıcıne koylayabılırız. bırden fazla yere kopyalanabılır.

position; 
bu eleman ıle, konum belırlenır. :fixed ıle syfa asagı-yukarı yapılırken bu kısım sayfada sabıt kalır ekranda.


*/
