* {
  box-sizing: border-box;
  margin: 1rem;
}
.container {
  display: grid;
  grid-template-columns: 200px 40vw 20rem;
  grid-template-rows: 100px 200px 20vw 30rem;
}
.content {
  background-color: cadetblue;
  border: 2px solid black;
}
