body {
  background-image: url(./img/resim-2.jpg);
  background-position: center;
  background-size: cover;
  width: auto;
  height: 56.4rem;
  background-attachment: fixed;
}

.container {
  border: 3px solid red;
  width: 20rem;
  /* height: 20rem; */
  background-image: url(./img/resim-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
  color: rgb(242, 255, 0);
  opacity: 0.5;
}

.container:hover {
  opacity: 1;
  transition: all ease-in-out 50ms;
  cursor: grab;
}

#paragraf {
  color: rgba(255, 0, 0, 0.7);
}

img {
  width: 20%;
}

#img1 {
  opacity: 0.3;
}
#img1:hover {
  opacity: 1;
  transition: all ease-in-out 50ms;
}
#img3 {
  opacity: 0.3;
}
#img3:hover {
  opacity: 1;
  transition: all ease-in-out 100ms;
}
#img4 {
  opacity: 0.3;
}
#img4:hover {
  opacity: 1;
  transition: all ease-in-out 100ms;
}
#img5 {
  opacity: 0.3;
}
#img5:hover {
  opacity: 1;
  transition: all ease-in-out 400ms;
}
