*{
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
}

header{
    background-color: seagreen;
    margin-top: 10px;
}

main{
    background-color: skyblue;
    padding: 5px;
    /* height: 350px; */
    /* overflow: auto; */
    border: none;
}

aside{
    background-color: darkorange;
    width: 25%;
    height: 300px;
    float: left;
    margin-left: 10px;

}

article{
    background-color: greenyellow;
    width: 70%;
    height: 300px;
    float: left;

}


footer{
    background-color: coral;
    /* height: 10px; */
}

/* .clear{
    clear: both;
    border: none;
} */

.clearfix::after{
    content: '';
    clear: both;
    display: block;
}